@charset "utf-8";

/* 외부 CSS합치기 */
@import url(./reset.css);

body{
    background-color: #000;
}
/* 공사중 */
body *{
    outline: 1px dashed red;
}

/* 레이아웃공통 */
.part{
    max-width: 1200px;
    margin: 0 auto;
}

/************************** 상단 **************************/
/*  */
/************************** 메인 **************************/

/************************** 하단 **************************/
