@charset "utf-8";
/* 카툰네트워크 메인 CSS */

@import url(./reset1.css);
@import url(core1.css);
/* 외부 CSS */

body *{
    outline: 1px dashed red;
}
/* body{
    background-color: #000;
} */
/* 속박스 */
.ibx{
    max-width: 1200px;
    margin: 0 auto;

}

/*********************** 상단 ***********************/
.top{
    position: relative;
    height: 200px;
}
.logo{
    text-align: center;
    padding: 10px;
}
.login{
    display: flex;
    justify-content: flex-end;
    /* padding: 10px 10px; */
}
.login li{
    display: inline-block;
    margin: 8px 10px;
}

.glist{
    display: flex;
    justify-content: center;
    background-image: url(./img/bar.PNG) ;
    /* opacity: 0.5; */
}
.glist::before{
    position: relative;
}

.gnb li{
    text-align: center;
    
}

/* a요소 */
.gnb>ul>li>a{
    /* a는 inline요소이므로 크기적용안됨! */
    /* 그래서 block으로 변경! */
    display: block;
    width: 200px;
    line-height: 50px;
    font-size: 32px;
    /* background-color: black; */
    
    font-family: 'Jua', sans-serif;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;

    color: #fff;
    
    text-decoration: none;
    /* 글자색, 밑줄은 반드시 a요소에서 셋팅! */

    /* 트랜지션: 속시이지 */
    transition: all .4s;
}

/* 서브메뉴 */
.subm{
    position: absolute;
    height: 0;
    overflow: hidden;
    /* 높이값 0, 넘치는 자식요소 숨기기로 서브안보이게함! */
    background-color: #d5eeff;
    z-index: 1;

    /* 트랜지션: 속시이지 */
    transition: height .4s ease-out;
}

/* 상위 li메뉴에 마우스 오버시 서브메뉴 보이기 */
/* 첫번째 메뉴 서브메뉴 */
.gnb>ul>li:nth-child(1):hover .subm{
    height: 180px;
}
.gnb>ul>li:nth-child(2):hover .subm{
    height: 100px;
}
/* 세번째 메뉴 서브메뉴 */
.gnb>ul>li:nth-child(3):hover .subm{
    height: 100px;
}
/* 마지막 메뉴 서브메뉴 */
.gnb>ul>li:last-child:hover .subm{
    height: 100px;
}

/* 서브메뉴 ol */
.subm ol{
    padding: 10px;
}
/* 서브메뉴 a */
.subm a{
    display: block;
    width: 180px;
    line-height: 40px;
    font-size: 14px;
    text-align: center;

    /* a요소 필수 재설정! 글자색+밑줄해제 */
    color: #000;
    text-decoration: none;

    /* 트랜지션: 속시이지 */
    transition: all .4s;
}

/* 서브메뉴 a에 오버시 */
.subm a:hover{
    background-color: #f0f0f0;
    color: #ff5411;
}


/*********************** main ***********************/
.cont{
    position: relative;
    height: 1000px;
}
.ptit{
    position: absolute;
    left: 17%;
    margin-top:20px;
    
    font-size: 15px;
    font-family: 'Do Hyeon', sans-serif;
}
#screen{
    position: absolute;
    top: 70px;
    left: 17%;
    /* 부모는? #cont */
    width: 800px;
    height: 400px;
    background-color: yellow;
}
/* 스크린 아이프레임 */
#screen iframe{
    width: 100%;
    height: 100%;    
}
/* 프로그램 선택메뉴 */
.plist{
    position: absolute;
    bottom:15%;
    left: 50%;
    transform: translateX(-50%);

    overflow: hidden;
    /* 프로그램 설명 숨기기 */
}
.plist h1{
    margin-bottom: 10px;
    font-family: 'Do Hyeon', sans-serif;
}
.plist ul{
    display: flex;
}
.plist ul>li{
    margin: 0 10px; 
}
.plist img{
    width: 250px;
}

/* 프로그램정보박스 */
.ptxt{
    position: absolute;
    /* top: 100%; */
    width:250px;
    height: 250px;

    background-color: rgba(0, 0, 0, 0.8);

    color: #fff;
    font-size: 15px;
    line-height: 2;
    text-align: center;
    font-weight: bold;


    /* 트랜지션: 속시이지 */
    transition: top .4s ease-out;
}
.ptxt li:first-child {
    color: aqua;
    font-size: 17px;
    letter-spacing: 2px;
    margin-top: 10%;
}
/* li에 마우스 오버시 설명박스 올라오기 */
.plist ul>li:hover .ptxt{
    top: 42px;
}
/*********************** 하단 ***********************/
.info{
    position: relative;
    height: 200px;
}
/* 하단로고 이미지 */
.info img{
    width: 100px;
    float: left;
    /* 이미지 자신은 왼쪽, 글자는 오른쪽에 흐르게함 */
    margin: 10px 10px;
    /* margin-right: 20px; */
}
/* 회사정보 */
.info address{
    font-family: 'Lexend Deca', sans-serif;
    font-style: normal;
    font-size: 18px;
    line-height: 32px;

    /* 안쪽여백 */
    padding-top: 20px;
    padding-left: 20px;
}
