@charset "utf-8";

/* 외부 CSS합치기 */
@import url(./reset.css);

body{
    background-color: #000;
}
/* 공사중 */
body *{
    outline: 1px dashed red;
}

/* 레이아웃공통 */
.part{
    max-width: 1200px;
    margin: 0 auto;
}

/************************** 상단 **************************/
#top{
    height: 100px;
}

/************************** 메인 **************************/

#cont{
    position: relative;
    /* 부모자격 */
    height: 800px;
}

/* 스크린박스 */
#screen{
    position: absolute;
    top: 65px;
    left: 202px;
    /* 부모? #cont */
    width: 796px;
    height: 447px;
    background-color: red;
}

/* 스크린 아이프레임 */
#screen iframe{
    width: 100%;
    height: 100%;
}

/* 인기프로그램 선택메뉴 */
.plist{
    position: absolute;
    bottom: 2%;
    left: 13%;
    /* 부모는? #cont */
}
.plist h2{
    color: white;
}
/* ul플렉스박스 */
.plist ul{
    display: flex;
    
}

.plist ul>li{
    margin: 0 10px;
}

.plist img{
    width: 200px;
}

/************************** 하단 **************************/
#info{
    height: 100px;
}