@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Gaegu&display=swap');

/* font-family: 'Black Han Sans', sans-serif;
font-family: 'Gaegu', cursive; */


/* 기본태그 초기화 */
html,body,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd{
    margin: 0;
    padding: 0;
}
/* 헤딩태그 글자크기 초기화 */
h1,h2,h3,h4,h5,h6{
    font-size: 100%;
}
/* ul, ol 초기화 */
ul,ol{
    list-style: none;
    /* 블릿표시자없앰 */
}

body *{
    outline: 2px dotted grey;
}

body{
    background: url(../img/raba01.jpg) no-repeat fixed center/cover;
    overflow-x: hidden;
    /* 가로스크롤없앰 */
}

/* 라바 로고이미지 */
.logo img{
    margin: 15px;
    width: 23%;
}

/* 공통클래스 */

/* 스크롤바 디자인클래스 */
.scbar::-webkit-scrollbar{
    /* 전체스크롤바 크기변경 */
    width: 7px;
}
.scbar::-webkit-scrollbar-thumb{
    /* 전체스크롤바 크기변경 */
    background-color: #666;
    border-radius: 5px;
}
.scbar::-webkit-scrollbar-track{
    background-color: #ddd;
    border-radius: 5px;
}


/* 속박스 */
.ibx{
    max-width: 1200px;
    margin: 0 auto;
}


/* 상단 */
#top{/* 겉박스-바깥쪽포함 */
    background-color: pink;
}
.top{/* 속박스 */
    height: 55px;
    /* width: 1350px; */
}


/* 로고 */
#logo{
    padding: 5px;
    text-align: right;
    font-size: 40px;
}
/* gnb메뉴  */
.gnb{
    width: 580px;
    margin: 0 auto;

}
/* 가상요소로 clear 설정하기 */
.gnb>ul::after{
    content: '';
    display: block;
    clear: both;
}
.gnb>ul>li{
    float: left;
    padding: 0 15px;
}
.gnb>ul>li>a{
    color: black;
    text-decoration: none;
    font-size: 17px;
    line-height: 80px;
}





/* 메인 */
.cont{
   
    max-width: 1200px;
    /* 가장 큰 일반 해상도 크기 최대가로크기변경 */
    height: 990px;
    
}
/* 캐릭터부모박스 */
#cbx{
    width: 80%;
    /* 부모박스크기의 90%가로크기 */
    margin: 0 auto;
    /* 마영오 - 블록 가로 중앙 */
    /* margin-top: 60px;  캐릭터박스에 마진값줌*/
    /* height: 300px; */
    /* background-color: rgba(183, 173, 230, 0.603); */
    /* overflow: hidden; */
    /* float해제위해 -> 자식요소 위로올라갈때 가려져 쓸수 없음 가상요소로 마지막에 float해제설정하기 */

}
/* 가상요소로 clear설정 */
#cbx::after{
    content: '';
    display: block;
    clear: both;
    /* float을 끊어서 부모가 자식을 인시 */
}

/* 캐릭터 박스 공통 */
.cat{
    
    /* 4등분 가로 크기는?25% */    
    width: 24%;
    margin: 5% .5%;
    /* 양쪽마진0.5% */
    float: left;
    /* 캐릭터박스 옆쪽으로 */
    /* height: 200px; */
    outline: 4px dotted red;
}
/* 첫번째 캐릭터박스 */
.fcat{
    position: absolute;
    width: 90%;
    margin: 0 auto;
    
    /* outline: 2px solid red; */
    margin-top: 20%;
}

/* 가상요소로 clear설정하기! */
.fcat::after {
    content: '';
    display: block;
    /* div와 비슷 */
    clear: both;
    /* float와 끊어서 부모가 자식을 인식함! */
}
/* 두번째 캐릭터박스 */
.scat{
    position: absolute;
    width: 90%;
    margin: 50% auto;
    
    /* outline: 2px solid red; */
    
}

/* 가상요소로 clear설정하기! */
.scat::after {
    content: '';
    display: block;
    /* div와 비슷 */
    clear: both;
    /* float와 끊어서 부모가 자식을 인식함! */
}
/* 캐릭터이미지박스 */
.ci{
    transition: margin-top .4s ease-out;
}
/* .cat에 마우스 오버시 .ci 마진탑 마이너스설정ㅇ */
.cat:hover .ci{
    margin-top: -75%;
}
/* 캐릭터이미지 */
.ci img{
    width:100%;
    border-radius: 50%;
}
/* 캐릭터 설명박스 */
.cd{
    height: 0px;
    /* .cat오버시 250px높이 값 변경 */
    overflow-y: scroll;
    
    background: rgba(240, 240, 6, 0.5);
    margin-top: 15px;
    
    border-radius: 20px 0 0 20px;
    
    transition: height .4s ease-out;
}
/* 트랜지션 애니메이션 효과 transition: 속시이지 */

/* .cat에 오버시 높이값 변경 */
.cat:hover .cd{
    height: 250px;
}
/* 캐릭터설명타이틀 */
.cd h3{
    font-family: 'Black Han Sans', sans-serif;
    font-size: 30px;
    font-weight: normal;
    padding: 5px 10px 0;
}

/* 캐릭터설명 문단 */
.cd p{
    font-family: 'Gaegu', cursive;
    font-size: 18px;
    line-height: 1.5;
    padding: 10px;
    text-align: justify;
    /* 양쪽 정렬 */
}

/* 하단 */
#info{/* 겉박스 */
    background-color: rgba(228, 250, 133, 0.733);
}
.info{/* 속박스 */
    
    height: 180px;
    padding: 15px;
    box-sizing: border-box;
    /* 크기유지- 보더,패딩포함 */
}
/* 하단링크 */
.blink{
    width: 741px;
    margin: 0 auto;
}
.blink ul::after{
    content: '';
    display: block;
    clear: both;
}
.blink li{
    float: left;
    padding: 0 15px;
}
/* 하단링크 a */
.blink a{
    color: black;
    text-decoration: none;
    font: bold 15px/39px 'Gaegu', cursive;

    /* font: 스두크/줄체
    스타일 두께 크기/줄간격 글자체 */
}
/* 마우스오버시a요소 */
.blink a:hover{
    color: red;
    text-decoration: underline;
}

/* 회사주소박스 */
.addr{
    width: 741px;
    margin: 0 auto;
    border: 4px double #222;
    font: 17px/2 'Gaegu', cursive;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;/* 크기유지 */
}