@charset "utf-8";
/* 카툰네트워크 메인페이지 CSS - main.css */

/* 외부 CSS합치기 */
@import url(reset.css);
@import url(core.css);

body{
    background-color: #000;
}

/* 공사중표시 */
/* body *{
    outline: 1px dashed lime;
} */

/* 레이아웃 공통클래스 */
.part{
    max-width: 1200px;
    margin: 0 auto;
}

/********************** 1. 상단영역 *************************/

/* 1-1. 상단로고 */
h1.logo{
    text-align: center;
    padding: 10px;
}

/* 1-2. 전체메뉴(GNB) */
.gnb{
    background-image: url(../img/bar.PNG);
}

/* a요소 */
.gnb>ul>li>a{
    display: block;
    width: 200px;
    line-height: 50px;
    font-size: 32px;
    
    font-family: 'Jua', sans-serif;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    /* 글자테두리 */
    color: #fff;
    text-decoration: none;
}
/* GNB ul */
.glist{
    display: flex;
    justify-content: center;
}
/* GNB li 리스트 */
.glist>li{
    text-align: center;
}
/* GNB 서브메뉴 */
.subm{
    position: absolute;
    height: 0;
    overflow: hidden;
    /* 높이값 0, 넘치는 자식요소 숨기기로 서브안보이게 */
    background-color: #fff;
    z-index: 1;

    transition: height .4s ease-out;
}

/* 상위 li메뉴에 마우스 오버시 서브메뉴 보이기 */
/* 첫번째 메뉴 서브메뉴 */
.gnb>ul>li:nth-child(1):hover .subm{
    height: 180px;
}
.gnb>ul>li:nth-child(2):hover .subm{
    height: 100px;
}
/* 세번째 메뉴 서브메뉴 */
.gnb>ul>li:nth-child(3):hover .subm{
    height: 100px;
}
/* 마지막 메뉴 서브메뉴 */
.gnb>ul>li:last-child:hover .subm{
    height: 100px;
}

/* 서브메뉴 ol */
.subm ol{
    padding: 10px;
}
/* 서브메뉴 a */
.subm a{
    display: block;
    width: 180px;
    line-height: 40px;
    font-size: 14px;
    text-align: center;

    /* a요소 필수 재설정! 글자색+밑줄해제 */
    color: #000;
    text-decoration: none;

}
/* 서브메뉴 a에 오버시 */
.subm a:hover{
    background-color: #f0f0f0;
    color: #ff5411;
}
.ham{
    display: none;
    position: absolute;
    font-size: 70px;
    top: 0%;
    right: 5%;
}

/*********************** 2. 메인영역 ***********************/
#cont {
    position: relative;
}

#cont::before{
    padding-top: 82.66%;
}

/* 2-1. 스크린 박스 */
#screen{
    position: absolute;
    top: 8%;
    left: 12.3%;
    width: 75.6%;
    height: 51.7%;    
    background-color: #fff;   
}

/* 스크린 아이프레임 */
#screen iframe{
    width: 100%;
    height: 100%;
    /* w,h부모기준 */
    border: none;
}
.plist>h1{
    left: 17%;
    margin-bottom: 5px;
    color: #fff;
    font-size: min(3vw,25px);
    font-family: 'Do Hyeon', sans-serif;
}
/* 2-2. 인기프로그램 선택메뉴 */
.plist{
    position: absolute;
    top: 67%;
    left: 50%;
    transform: translateX(-50%);

}
/* ul 플렉스박스 */
.plist ul{
    display: flex;
}
/* 각 리스트 */
.plist ul>li{
    position: relative;
    overflow: hidden;
    margin: 0 min(1vw,9px);
}


.plist img{
    width: min(15vw,200px);
}

/* 영화정보박스 */
.ptxt{
    position: absolute;
    top: 100%;
    width: min(15vw,200px);
    height: 100%;

    background-color: rgba(0, 0, 0, 0.7);

    /* 글자셋팅 */
    font-family: 'Do Hyeon', sans-serif;
    font-size: min(1.2vw,16px);
    line-height: 1.5;
    text-align: center;

    transition: top .4s ease-out .3s;
}
/* 마우스 오버시 설명박스 올라오기 */
.plist ul>li:hover .ptxt{
    top: 0;
}

/* 첫번째 li 영화제목 */
.ptxt li:first-child{
    color: aqua;
    font-size: min(1.7vw,18px);
    white-space: nowrap;
    letter-spacing: -1px;
    margin-top: 7%;
}


/************************** 3. 하단영역 **************************/
#info {
    position: relative;
    height: 100px;
}
/* 회사정보 */
#info address{
    color: #c4c4c4;
    font-style: normal;
    font-family: 'Cute Font', cursive;
    font-size: 25px;
    line-height: 30px;
    
    /* 안쪽여백 */
    padding-top: 20px;
    padding-left: 20px;
}
/* 하단로고 이미지 */
#info img{
    float: left;
    margin-right: 20px;
}

/* 3-2. sns박스 */
.sns{
    position: absolute;
    top: 20px;
    right: 20px;
    /* 부모는? #info */
}
.sns img{
    filter: grayscale(100%);
}

/* sns 오버시 컬러 */
.sns img:hover{
    filter: grayscale(0%);
    outline: 4px dotted orangered;
    border-radius: 30%;
}

/* sns a링크 확장 */
.sns a{
    display: block;
    width: 100%;
    height: 100%;    
}
