@charset "utf-8";
/* 카툰네트워크 메인페이지 CSS - main.css */

/* 외부 CSS합치기 */
@import url(./reset.css);
@import url(core.css);

body{
    background-color: #000;
}

/* 공사중표시 */
/* body *{
    outline: 1px dashed lime;
} */

/* 레이아웃 공통클래스 */
.part{
    max-width: 1200px;
    /* 최대 1200px, 이하일땐 auto */
    margin: 0 auto;
    /* 마영오 - 가로중앙 */
}

/******************************** 1. 상단영역 ********************************/

/* 1-1. 상단로고 */
h1.logo{
    text-align: center;
    padding: 10px;
}

/* 1-2. 전체메뉴(GNB) */
.gnb{
    background-image: url(../img/bar.PNG);
}

/* a요소 */
.gnb>ul>li>a{
    /* a는 inline요소이므로 크기적용안됨! */
    /* 그래서 block으로 변경! */
    display: block;
    width: 200px;
    line-height: 50px;
    font-size: 32px;
    
    font-family: 'Jua', sans-serif;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    /* 글자테두리 */
    color: #fff;
    
    text-decoration: none;
    /* 글자색, 밑줄은 반드시 a요소에서 셋팅! */

    /* 트랜지션: 속시이지 */
    transition: all .4s;
}
/* GNB ul */
.glist{
    display: flex;
    justify-content: center;
}
/* GNB li 리스트 */
.glist>li{
    text-align: center;
}
/* GNB 서브메뉴 */
.subm{
    position: absolute;
    height: 0;
    overflow: hidden;
    /* 높이값 0, 넘치는 자식요소 숨기기로 서브안보이게함! */
    background-color: #d5eeff;
    z-index: 1;

    /* 트랜지션: 속시이지 */
    transition: height .4s ease-out;
}

/* 상위 li메뉴에 마우스 오버시 서브메뉴 보이기 */
/* 첫번째 메뉴 서브메뉴 */
.gnb>ul>li:nth-child(1):hover .subm{
    height: 180px;
}
.gnb>ul>li:nth-child(2):hover .subm{
    height: 100px;
}
/* 세번째 메뉴 서브메뉴 */
.gnb>ul>li:nth-child(3):hover .subm{
    height: 100px;
}
/* 마지막 메뉴 서브메뉴 */
.gnb>ul>li:last-child:hover .subm{
    height: 100px;
}

/* 서브메뉴 ol */
.subm ol{
    padding: 10px;
}
/* 서브메뉴 a */
.subm a{
    display: block;
    width: 180px;
    line-height: 40px;
    font-size: 14px;
    text-align: center;

    /* a요소 필수 재설정! 글자색+밑줄해제 */
    color: #000;
    text-decoration: none;

    /* 트랜지션: 속시이지 */
    transition: all .4s;
}
/* 서브메뉴 a에 오버시 */
.subm a:hover{
    background-color: #f0f0f0;
    color: #ff5411;
}

/******************************** 2. 메인영역 ********************************/
#cont {
    position: relative;
    /* 부모자격 (#screen의 부모자격주기위해 relateiv줌) */
}

#cont::before{
    padding-top: 82.66%;
}

/* 2-1. 스크린 박스 */
/* 비율유지박스 자식으로 위치와 크기를 %로 설정하면
부모를 따라 자연스럽게 비율유지가 된다!!! */
#screen{
    position: absolute;
    top: 8%;
    left: 12.3%;
    /* 위치이동시 부모는? #cont */
    width: 75.6%;
    height: 51.7%;    
    background-color: #fff;   
}

/* 스크린 아이프레임 */
#screen iframe{
    width: 100%;
    height: 100%;
    /* w,h부모기준 */
    border: none;
    /* 아이프레임 기본보더 없앰! */
}
.plist>h1{
    /* position: absolute; */
    left: 17%;
    /* margin-top:20px; */
    margin-bottom: 5px;
    color: #fff;
    font-size: min(3vw,25px);
    font-family: 'Do Hyeon', sans-serif;
}
/* 2-2. 인기프로그램 선택메뉴 */
.plist{
    position: absolute;
    top: 67%;
    left: 50%;
    /* 부모는? #cont */
    transform: translateX(-50%);
    /* x축 중앙이동 -> 정중앙 */

}
/* ul 플렉스박스 */
.plist ul{
    display: flex;
}
/* 각 리스트 */
.plist ul>li{
    position: relative;
    /* 부모자격 */    
    overflow: hidden;
    /* 영화설명 숨기기 
    - 부모자격이 있는 요소가 숨길수 있음! */
    margin: 0 min(1vw,9px);
    /* 양쪽 마진만 9px과 1vw중 작은것! */
   
}


.plist img{
    width: min(15vw,200px);
    /* min(유동사이즈,특정사이즈) 작은쪽 선택
    -> 최대크기 지정의 효과! */
    /* height: 140px; 
    -> 가로크기만 줘서 비율유지함! */
}

/* 영화정보박스 */
.ptxt{
    position: absolute;
    top: 100%;
    /* 부모는 .mlist ul>li */
    width: min(15vw,200px);
    /* 이미지 가로크기와 똑같이 잡는다! */
    height: 100%;

    background-color: rgba(0, 0, 0, 0.7);

    /* 글자셋팅 */
    font-family: 'Do Hyeon', sans-serif;
    font-size: min(1vw,16px);
    line-height: 1.5;
    text-align: center;

    transition: top .4s ease-out .3s;
}
/* 부모 li에 마우스 오버시 설명박스 올라오기 */
.plist ul>li:hover .ptxt{
    top: 0;
}

/* 첫번째 li 영화제목 */
.ptxt li:first-child{
    color: aqua;
    font-size: min(1.7vw,18px);
    white-space: nowrap;
    letter-spacing: -1px;
    margin-top: 7%;
}


/******************************** 3. 하단영역 ********************************/
#info {
    position: relative;
    /* 부모자격 - .sns */
    height: 100px;
}
/* 회사정보 */
#info address{
    color: #c4c4c4;
    font-style: normal;
    font-family: 'Cute Font', cursive;
    font-size: 25px;
    line-height: 30px;
    
    /* 안쪽여백 */
    padding-top: 20px;
    padding-left: 20px;
}
/* 하단로고 이미지 */
#info img{
    float: left;
    margin-right: 20px;
}

/* 3-2. sns박스 */
.sns{
    position: absolute;
    top: 20px;
    right: 20px;
    /* 부모는? #info */
}
.sns img{
    filter: grayscale(100%);
}

/* sns 오버시 컬러 */
.sns img:hover{
    filter: grayscale(0%);
    outline: 4px dotted orangered;
    border-radius: 30%;
}

/* sns a링크 확장 */
.sns a{
    display: block;
    width: 100%;
    height: 100%;    
}
