@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Gaegu&display=swap');

/* font-family: 'Black Han Sans', sans-serif;
font-family: 'Gaegu', cursive; */

/* 기본태그 초기화 */
html,body,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd{
    margin: 0;
    padding: 0;
}
/* 헤딩태그 글자크기 초기화 */
h1,h2,h3,h4,h5,h6{
    font-size: 100%;
}

/* ul,ol초기화 */
ul,
ol {
    list-style: none;
    /* 블릿 표시자 없앰 */
}

/* body * {
    outline: 1px dashed gray;
} */

body{
    background: url(../raba01.jpg) no-repeat fixed center/cover;
    overflow-x: hidden;
    /* 가로스크롤없앰 */
}
/* 라바 로고이미지 */
.logo img{
    margin: 15px;
    width: 23%;
}

/********** 공통 클래스 **********/

/* 스크롤바 다지인 클래스 */
/* -webkit- 벤더사명(크롬,사파리) 접두어 */
.scbar::-webkit-scrollbar {
    /* 전체 스크롤바 크기변경 */
    width: 7px;
}

.scbar::-webkit-scrollbar-thumb {
    /* 스크롤바 */
    background-color: #666;
    border-radius: 5px;
}

.scbar::-webkit-scrollbar-track {
    /* 스크롤바 트랙 */
    background-color: #ddd;
    border-radius: 5px;
}

/************* 메인영역 *************/
.cont{
    max-width: 1920px;
    height: 800px;
    overflow: hidden;
    /* 자식요소 마진탑포함! */
    padding-bottom: 150px;
}
/* 캐릭터부모박스 */
#cbx{
    width: 90%;
    margin: 0 auto;
    
    /* outline: 2px solid red; */
    margin-top: 20%;
}

/* 가상요소로 clear설정하기! */
#cbx::after {
    content: '';
    display: block;
    /* div와 비슷 */
    clear: both;
    /* float와 끊어서 부모가 자식을 인식함! */
}

/* 캐릭터박스 공통 */
.cat{
    width: 23%;
    margin: 0 1%;
    float: left;

    /* outline: 1px solid #fff; */

    cursor: pointer;
}
/* .cat에 마우스 오버시 .ci의 마진탑을 마이너스로 설정! */
.cat:hover .ci {
    margin-top: -57%;
    
}
/* 마우스 오버시 이미지테두리 */
.cat:hover .ci>img{
    padding: 0;
    border: 5px solid #f8c10b;
}
/* 캐릭터이미지 */
.ci>img {
    width: 70%;
    border-radius: 50%;
    margin-left: 15%;
    /* 이미지박스 가운데 오게 margin-left로 정렬 */
    
}



/* 캐릭터설명 */
.cd{
    height: 0px;
    overflow-y: scroll;

    background: url(../cd.jpg);
    margin-top: 5px;

    border-radius: 20px 0 0 20px;

    transition: height .4s ease-out;
}
/* .cat 캐릭터 마우스오버시 높이값변경 */
.cat:hover .cd{
    height: 230px;
    
}

/* 캐릭터설명타이틀 */
.cd h3{
    font-family: 'Black Han Sans', sans-serif;
    font-size: 30px;
    font-weight: normal;
    padding: 5px 10px 0;
}

/* 캐릭터설명 문단 */
.cd p{
    font-family: 'Gaegu', cursive;
    font-size: 18px;
    line-height: 1.5;
    padding: 10px;
    text-align: justify;
    /* 양쪽 정렬 */
}

/************** 하단영역 **************/
#info {
    /* 겉박스 */
    background-color: rgba(0, 0, 0, 0.5);
}
.info {
    position: relative;
    /* 부모자격 - .sel 선택박스 */
    /* 속박스 */
    height: 170px;
    padding: 15px;
    box-sizing: border-box;
    /* 크기유지 - 보더, 패딩포함 */
}
/* 하단링크 */
.blink {
    max-width: 758px;
    margin: 0 auto;
}
/* 가상요소 clear */
.blink ul::after {
    content: '';
    display: block;
    clear: both;
}
.blink li {
    float: left;
    padding: 0 15px;
}

/* 하단링크 a */
.blink a {
    color: #fff;
    text-decoration: none;
    /* font-family: 'Nanum Gothic', sans-serif; */
    font: bold 18px/2 'Nanum Gothic', sans-serif;
    /* 
        font: 스두크/줄체
        font: 스타일 두께 크기/줄간격 글자체
    */
}

/* 마우스 오버시 a요소 */
.blink a:hover {
    color: blue;
    text-decoration: underline;
}

/* 회사주소박스 */
.addr {
    color: #fff;
    max-width: 758px;
    margin: 10px auto;
    border: 4px double lightgray;
    font: 18px/2 'Gaegu';
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    /* 크기유지 */
}