@charset "utf-8";
/* 예술의전당 1페이지 CSS - consert.css */

.acaitem{
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  top: 23%;

  display: flex;
  justify-content: space-around;
  align-items: center;

  border: 1px dashed red;
}

.aca{
  
}



/* .aca-item{
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  top: 10%;

}

.aca-item > ul {
  width: 100%;
  padding: 10px 20px;
  border: 1px solid #000;
  background-color: #f8f8f8;
}

.newaca-item-quick > ul > li {
  float: left;
  width: calc(100% / 8);
  padding-bottom: 25px;
}

.newaca-item-quick > ul > li > a {
  display: block;
}

.newaca-item-quick > ul > li > a > .newaca-item-icon {
  width: 100%;/
  height: auto;
  margin: 0 auto;
  margin: 0 auto;
  padding-top: 25px;
  text-align: center;

}
.newaca-item-quick > ul > li > a > .newaca-item-title {
  width: 100%;
  margin-top: 10px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
} */