@charset "utf-8";
/* 예술의전당 1페이지 CSS - consert.css */

/* 아카데미 박스 */
.acaitem{
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  top: 20%;

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  /* border: 1px dashed red; */
}
/* 아카데미 각 아이콘 글씨 */
.icon p{
  font-size: 1.8rem;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
  font-weight: bold;
}

/* 서비스 박스 */
.service{
  position: relative;
  max-width: 1000px;
  /* height: 200px; */
  margin: 0 auto;
  top: 30%;

  /* display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; */

  /* border: 1px dashed red; */
}

/* 주요 서비스 타이틀글자 */
.stit{
  font-size: 2.2rem;
  margin-left: 2%;
}

/* 서비스 속박스 */
.ser{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  /* border: 2px dashed blue; */
}

/* 서비스 아이콘 박스 */
.border {
  min-width: 198px;
  height: 136px;
  border: 1px solid #d0d0d0;
  margin: 10px 25px;
}
/* 아이콘 이미지겉박스 */
.siconbx{
  display: block;
    height: 70px;
    /* vertical-align: middle; */
    text-align: center;
    margin-top: 15%;
}
/* 서비스아이콘글자 */
.border p{
  font-size: 1.6rem;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
  font-weight: bold;
}