@charset "utf-8";
/* 예술의전당 1페이지 CSS - consert.css */

/* 아카데미 박스 */
.acaitem{
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  top: 18%;

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  border: 1px dashed red;
}
/* 아카데미 a링크 */
.icon>a{
  font-size: 1.8rem;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
  font-weight: bold;
}

/* 서비스 박스 */
.service{
  position: relative;
  max-width: 1000px;
  /* height: 200px; */
  margin: 0 auto;
  top: 35%;

  /* display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; */

  border: 1px dashed red;
}

.service>h1{
  font-size: 2.2rem;
  margin: 2%;
}

/* 서비스 속박스 */
.ser{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* 서비스 아이콘 박스 */
.border {
  min-width: 198px;
  height: 136px;
  border: 1px dashed green;
  margin: 10px 25px;
}

.border img{
  position: relative;
  top: 25%;
}

.border p{
  position: relative;
  top: 30%;
}

/* 주요 서비스 아이콘이미지 */
/* .icon1{
  background: url(../img/newaca_img1.png) no-repeat center center;
}
.icon2{
  background: url(../img/newaca_img2.png) no-repeat center center;
}
.icon3{
  background: url(../img/newaca_img3.png) no-repeat center center;
}
.icon4{
  background: url(../img/newaca_img4.png) no-repeat center center;
} */



/* .aca-item{
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  top: 10%;

}

.aca-item > ul {
  width: 100%;
  padding: 10px 20px;
  border: 1px solid #000;
  background-color: #f8f8f8;
}

.newaca-item-quick > ul > li {
  float: left;
  width: calc(100% / 8);
  padding-bottom: 25px;
}

.newaca-item-quick > ul > li > a {
  display: block;
}

.newaca-item-quick > ul > li > a > .newaca-item-icon {
  width: 100%;/
  height: auto;
  margin: 0 auto;
  margin: 0 auto;
  padding-top: 25px;
  text-align: center;

}
.newaca-item-quick > ul > li > a > .newaca-item-title {
  width: 100%;
  margin-top: 10px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
} */