@charset "utf-8";
/* 예술의 전당 메인페이지 미디어쿼리 - media.css */

/************** 1024px 이하 미디어쿼리 **************/
@media all and (max-width:1024px)	{	
	.container{ 
        width:92%;
        margin:0 auto;
    }

	.container1{ 
        width:100%;
    }

	.whide
    {
        display:none
    }

	.mhide{
        display:block
    }
	.mhide img{
        width:100%;
    }
}

/************** 700px 이하 미디어쿼리 **************/
@media screen and (max-width:1000px) {
    
    /* 1. 숨기기 - GNB메뉴, 서브메뉴, 메뉴배경가상요소, 로그인박스 */

    .gnb,
    .smenu,
    /* .gnb>ul>li.sm::after, */
    .member{
        display: none;
    }
    #logo img{
       width: 170px;
    }

    /* 2. 보이기 - 햄버거버튼 */
    .ham {
        display: block;
    }

    .swiper{
        width: 100vw;
    }

    /* 아카데미 타이틀 */
    .title{
      height: auto;  
    }
    .title h1{
        padding: 0;
    }

    /* 아카데미 아이콘 */
    .acaitem{
        /* width: calc(100vw - 500px);
        height: calc(100vh - 500px); */
        /* width: 98vw;
        height: 40vh; */
        width: 98vw;
        height: 30vh;
        /* 700이하 40 */
    }
    .icon img{
        width: 15vw;
        /* 700 이하 28 */
    }

    /* 아카데미 - 서비스박스*/
    .service{
        top: 26%;
        /* top: 23.5%; */
    }
    .border {
        min-width: 22vw;
        height: 22vh;
        margin: 15px 10px;
        /* min-width: 21vw;
        height: 18vh;
        margin: 10px 3px; 733사이즈*/
    }

}